{% extends "base.html" %}

{% block content %}
<a href="/add-listing/" class="text-blue-500">Create a New Listing</a>
<section>
    {% for listing in listings %}
        <div class="mt-2 px-3 py-2 bg-gray-100 rounded-sm">
            <h3 class="text-3xl tex-gray-900">{{listing.title}}</h3>
            <img src="{{ listing.image.url }}" alt="">
            <a href="/listings/{{ listing.id }}" class="text-blue-500">
            View details
            </a>
            <!-- <p>Price: {{listing.price}}</p>
            <p>Bedrooms: {{listing.num_bedrooms}}</p>
            <p>Bathrooms: {{listing.num_bathrooms}}</p> -->
        </div>

    {% endfor %}
</section>
{% endblock content%}
